<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Happi PineLabs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ff7f2e;
        font-family: "Concert One", cursive;
        margin: 0;
        overflow: hidden;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="img-b" style="text-align: center; margin-top: 1rem">
      <img
        src="https://www.happimobiles.com/img/happi-logo-local.png"
        alt=""
        style="height: 100px; text-align: center"
      />
    </div>
    <div class="container">

    </div>
  </body>
</html>
